<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/assets/whatsapp-image.webp" width="160" height="134" class="rounded mx-auto d-block img-whats-app" alt="Logo WhatsApp">
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center whats-app-text">
                Para enviar mensagem no WhatsApp para uma pessoa que não é seu contato,
                prencha o código do páis, DDD e telefone do seu destinatário
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-form-contact></app-form-contact>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-shared-links></app-shared-links>
        </div>
    </div>
</div>