.center {
    display: flex;
    justify-content: center;
  }

  .img-whats-app{
    width: 160px;
    margin-bottom: 20px;
  }

  .whats-app-text{ 
    color:#fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1rem;
  }