<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/assets/whatsapp-image.webp" width="160" height="134" class="rounded mx-auto d-block img-whats-app" alt="Logo WhatsApp">
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center whats-app-text">
                <h1>Quer enviar mensagem pelo WhatsApp
                    sem salvar o contato no seu smartphone?
                </h1>
                <h3>Prencha o código do páis, DDD e telefone do seu destinatário
                </h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-form-contact></app-form-contact>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-shared-links></app-shared-links>
        </div>
    </div>
</div>